main
    form(
        class="form",
        name="editForm")
        input(
        class="form__input",
        type="text",
        id="task",
        ng-model="current.task",
        ng-required="true",
        ng-show="editForm.$valid",
        value="{{current.task}}")
        button(
        class="form__button",
        ng-show="editForm.$valid",
        ng-click="saveEdit(todo)",) Save Edit

    .todo-list(ng-show="todos.length > 0")
        .todos(ng-repeat="todo in todos")
            .todos-list
                input(
                    class="todos-list__check"
                    type="checkbox",
                    ng-model="todo.selected")
                p.todos-list__text {{todo.task}}
            .todos-controllers
                a(
                    class="todos-controllers__edit",
                    ng-click="editTodo(todo)",
                    href="#") edit
                a(
                    class="todos-controllers__delete",
                    ng-click="removeTodo(todo)",
                    href="#") delete

    form(
        class="form"
        name="insertForm")
        input(
            class="form__input"
            type="text",
            ng-model="todo.task",
            ng-required="true",
            placeholder="Task")
        button(
            class="form__button"
            ng-click="addTodo(todo)",
            ng-disabled="insertForm.$invalid") Add Task
